html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*INIZIATE DA QUI!*/

:root {
	font-family: 'Inter', sans-serif;
	/* footer e nav font-family: OpenSans,sans-serif,arial; */
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.0125rem;
	--theme-color: #007aff;
	--background-color: #121212;
	--main-color: #2a2a2a;
	--button-color: #ffffff;
	--icons-color: #cccccc;
	--font-color-active: #e7e7e7;
	--font-color-disable: #cccccc;
}

.nav1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'OpenSans', sans-serif,arial;
	font-weight: 100;
	background-color: #2A2A2A;
	color: #e7e7e7;
	height: 4.9em;
	width: 100%;
	font-size: .75em;
}

.nav__dx{
	width:30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: var(--icons-color);
	gap: 20px;
	height: 100%;
}
.nav__sx{
	width: 40%;
	display: flex;
	align-items: center;
	justify-content:left;	
	height: 100%;
}
.nav__sx__logo{
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
}
.nav__sx__link{
    display: flex;
    justify-items: stretch;   
	flex-direction: column; 
	height: 100%;
} 



.nav__link {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	transition: text-decoration 500ms;
	color: var(--font-color-disable);
	padding: 0 1rem;
	letter-spacing: .075em;
}

.nav__sx__barra{
	height: 6px;
	background-color: transparent;
	transform:translateY(+6px);
}

.nav__link:hover{
	color: var(--font-color-active);
}

.nav__sx__link:hover .nav__sx__barra{
	transform:translateY(0px);
	transition: 200ms;
	background-color: var(--theme-color);
}
.nav__sx__link.selected .nav__sx__barra {
	transform:translateY(0px);
	background-color: var(--theme-color);
}


.ottineni{
	display: flex;
	align-items: center;
	background-color: var(--theme-color);
	height: 100%;
	color: var(--button-color);
	text-decoration: none;
	padding: 0 14px;
	font-size: 8.75px;
	
}

.ottineni:hover{
	background-color:#268fff;
	text-decoration: none;
}

.nav__mondo{
	display: flex;
	margin-top: 7%;
	position: relative;
    cursor: pointer;
	height: 4.9em;
	width: auto;
}

.nav__list{
    display: none;
    cursor: pointer;
    position:absolute;
    list-style-type: none;
    text-align: center;		
	background: var(--main-color);
	margin: 0;
    top: 35px;
    right: 82px;
	z-index: 3;	
}

.nav__mondo:hover .nav__list{
    display: block;
	text-decoration: none;
	width: 100%;
    height: 100%;
	background: var(--main-color);	
}

.nav__mondo:hover .nav__list > li > a{
	width: 180px;
	
}

.nav__interno{
	display: flex;
	text-align: center;
	justify-content: center;
    width: 20ch;
    height: 6ch;
	text-decoration: none;
	color: var(--icons-color);
	background: var(--main-color);
	font-size: 10px;
	
}

.nav__interno:hover{
	display: block;
	text-decoration: none;
	color: var(--button-color);
}

.nav__user__container{
	position: relative;
    cursor: pointer;
}

.nav__user{
	display: flex;
	align-items: center;
    cursor: pointer;
	justify-content: center;
	margin-bottom: 8px;
	
}

.nav__user > p{
	padding-top: 5px;
}

.nav__user__list{
    display: none;
    cursor: pointer;
    position:absolute;
    list-style-type: none;
    text-align: center;
	background: var(--main-color);
	margin-top: 15px;
    top: 30px;
    left: 8px;
	z-index: 3;
    width: 25%;
}

.nav__user__container:hover .nav__user__list{
	display: block;
    cursor: pointer;
	width: 100%;
    height: 100%;
	background: var(--main-color);
}

.nav2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'OpenSans', sans-serif,arial;
	font-size: 14px;
	background-color: var(--background-color);
	color: #cccccc79;
	top: 0px;
	width: 100%;	
	position: sticky;
	z-index: 2;
    height: 5rem;   
	padding-top: 15px;
}

.nav2__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__tendina__tab{
	display: none;
}

.nav__ricerca__sinistra{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
}

.nav__serch{
	display: flex;
	background-color: #272727;
	border-radius: 20px;
	align-items: center;	
	margin-right: 1rem;
	width: 230px;

}

.nav__ric {
	background-color: transparent;
	height: 35px;
	width: 190px;
	border-style: none;
	color: #ccccccb9;
    outline: none;
}

.nav__ric::placeholder{
	color: #ccccccb9;
	padding-left: 2px;
    
}



.nav__lente{
	width:12px;
	height:12px;
	margin: 0px 10px;
	padding-left: 5px;
	stroke: #cccccc;
	stroke-width: 2;
}

.nav__chart,
.nav__check {
	width:15px;
	height:15px;
	margin: 0px 10px;
	padding-left: 5px;
	stroke: #cccccc;
}
.nav__arrow{
	width:12px;
	height:12px;
	padding-left: 2px;
	margin-top: 2px;
	stroke-width: 2;
	stroke: #cccccc;
}
.nav__ricerca__interna{
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 240px;
}

.nav__ricerca__destra {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 220px;
	height: 100%;
}

.nav__link__2{
	text-decoration: none;
	color: #cccccc79;
	margin: 5px;
	padding: 10px;
}

.nav__link__2:hover{
	color: var(--font-color-active);
	transition: 1s;
}

.nav__link__2__selected{	
	text-decoration: none;
	color: var(--font-color-disable);
	padding: 10px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 4px;
}

.nav__link__2__discover{
	text-decoration: none;
	color: var(--font-color-disable);
	padding: 10px;
	margin: 10px;
	color: #ffffff;

}
.main__gratis{
	background-color: rgba(255, 255, 255, 0.1) ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 300px;
    padding: 2rem;
}

.main__gratis__intestazione{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}

.main__icon__gratis__pack{
	display: flex;
	align-items: center;
	width: 30%;
}

.main__gratis__intestazione > div{
    display: flex;
}

.main__gratis__visualizza{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: transparent;
	color: var(--font-color-active);
	height: 34px;
	font-weight: 500;
	border: 0.5px solid var(--font-color-active);
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
    padding: 0 20px;
	letter-spacing: 0.5px;
	line-height: 15px;    
}
.main__gratis__visualizza:hover{
	background-color: rgba(255, 255, 255, 0.278) ;
	transition: 0.6s;
}

.main__giochi__gratis{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
column-gap: 5%;
}

.main__gratis__testo{
	color: var(--button-color);
	font-size: 18px;
	line-height: 1.4;
	padding-left: 1rem;
}

.main__gratis__card{
    width: 100%;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.main__ora__gratis{
	display: flex;
	background-color: var(--theme-color);
	justify-content: center;
	position: relative;
	bottom: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main__in__arrivo {
	display: flex;
	background-color: var(--background-color);
	justify-content: center;
	position: relative;
	bottom: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main__gratis__txt{
	margin-top: 10px;
	font-weight: bold;
	color: var(--font-color-active);
	cursor: pointer;
}

.main__gratis__disp{
	color: rgba(245, 245, 245, 0.6);
	font-weight: 400;
	margin-top: 5px;
}
.nav__hamburger {
	display: none;
}
.responsive__search{
	display: none;
}
.responsive__find{
	display: none;
}

@media (max-width: 768px){
	.main__giochi__gratis{
		display: flex;
		width: 100%;
		flex-direction: column;
		column-gap: 2px;
		}

	.main__gratis__card{
		height: 60%;
	}

	.nav__hamburger{
		display: flex;
		justify-content: center;
		width: 50px;
		height: 100%;
		background-color: #007aff;
	}

	.nav__sx__link,
	.nav__mondo,	
	.nav__user__container,
	.ottineni{
		display: none;
	}
}


@media (max-width: 1024px){
	.nav2__container{
		display: none;
	}
	.responsive__search{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.responsive__search  a {
		text-decoration: none;
		color: var(--font-color-disable);
		font-size: 1.1rem;
		font-family: inherit;
	}
	.responsive__search  a:hover {
		color: white;
	}
	.discover {
		text-decoration: none;
		color: var(--font-color-active);
		font-size: 1.1rem;
		font-family: inherit;
		font-weight: 200;
	}
	.nav__lente{
		width: 20px;
		height: 20px;
		fill: var(--font-color-disable);
	}
	.responsive__scopri{
		color: #ffffff;
	}
		
}



}
