.main__container {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main__container .main__container-cards-top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main__container .main__container-cards-top .main__container-bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.main__container .main__container-cards-top .main__container-bar .bar__container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.7rem;
}
.main__container .main__container-cards-top .main__container-bar .bar__container span {
  font-size: 1.5rem;
}
.main__container .main__container-cards-top .main__container-bar .bar__container span a {
  text-decoration: none;
  color: #f5f5f5;
}
.main__container .main__container-cards-top .main__container-bar .bar__container .svg-arrow {
  width: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.main__container .main__container-cards-top .main__container-bar .bar__container .svg-arrow svg {
  width: 8px;
  height: 8px;
  padding-left: 0.5rem;
}
.main__container .main__container-cards-top .main__container-bar .right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.main__container .main__container-cards-top .main__container-bar .right .right__arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(34, 33, 33);
}
.main__container .main__container-cards-top .main__container-bar .right .right__arrow button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container .main__container-cards-top .main__container-bar .right .right__arrow button svg {
  width: 12px;
  height: 12px;
}
.main__container .main__container-cards-top .main__container-cards {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.main__container .main__container-cards-top .main__container-cards .container-card {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.main__container .main__container-cards-top .main__container-cards .container-card .container-card-img {
  position: relative;
}
.main__container .main__container-cards-top .main__container-cards .container-card .container-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.main__container .main__container-cards-top .main__container-cards .container-card .container-card-img .add-game {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: white;
  border: 2px solid white;
}
.main__container .main__container-cards-top .game {
  width: 100%;
}
.main__container .main__container-cards-top .base {
  font-size: 9px;
  color: rgba(245, 245, 245, 0.6);
  letter-spacing: 1px;
  font-weight: 500;
}
.main__container .main__container-cards-top .promo {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  align-items: center;
  line-height: 15px;
}
.main__container .main__container-cards-top .promo .percentage {
  background-color: rgb(0, 116, 228);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 9px;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: 500;
}
.main__container .main__container-cards-top .promo .wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.main__container .main__container-cards-top .promo .new-offer, .main__container .main__container-cards-top .promo .old-offer {
  letter-spacing: 0.2px;
  font-weight: normal;
}
.main__container .main__container-cards-top .promo .old-offer {
  text-decoration: line-through;
  color: rgba(245, 245, 245, 0.6);
}
.main__container .main__container-cards-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
  transform: translate3d(0px, 0px, 0px);
}
.main__container .main__container-cards-bottom .container-card {
  width: auto;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.main__container .main__container-cards-bottom .container-card .container-card-img {
  position: relative;
}
.main__container .main__container-cards-bottom .container-card .container-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.main__container .main__container-cards-bottom .container-card .container-card-img .add-game {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: white;
  border: 2px solid white;
}
.main__container .game {
  width: 100%;
}
.main__container .content-card {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: space-between;
  padding: 1.5rem;
}
.main__container .content-card .title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.2px;
}
.main__container .content-card .description {
  color: rgba(245, 245, 245, 0.6);
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.main__container .content-card .new-offer, .main__container .content-card .main__container-cards-top .promo .old-offer, .main__container .main__container-cards-top .promo .content-card .old-offer {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 1024px) and (max-width: 1275px) {
  .main__container .main__container-cards-top .promo .wrap {
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #invisible {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main__container-cards,
  .main__container-cards-bottom {
    overflow-x: auto;
    cursor: pointer;
  }
  .main__container-cards .container-card-img,
  .main__container-cards-bottom .container-card-img {
    width: 250px;
  }
}
@media screen and (max-width: 368px) {
  .main__container-bar .right {
    display: none;
  }
  .main__container-cards,
  .main__container-cards-bottom {
    overflow-x: auto;
  }
  .main__container-cards .container-card-img,
  .main__container-cards-bottom .container-card-img {
    width: 150px;
  }
}

/*# sourceMappingURL=style_chris.css.map */
