html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*INIZIATE DA QUI!*/

:root {
	font-family: 'Inter', sans-serif;
	/* footer e nav font-family: OpenSans,sans-serif,arial; */
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	--theme-color: #007aff;
	--background-color: #121212;
	--main-color: #2a2a2a;
	--button-color: #ffffff;
	--icons-color: #cccccc;
	--font-color-active: #e7e7e7;
	--font-color-disable: #cccccc;
}


/* Footer style */
footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: var(--icons-color);
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	padding: 20px 72px 40px
}

footer > p {
	color: #656565;
	margin: 0 0 4px;
	font-weight: 700;
	padding: 20.6px 0 0;
}
.footer__copyright{
	margin: 0;
	padding: 16px 0;

}
.copyright{	
	width: 105ch;
	text-align: left;	
	padding: 6px 0 0;
	font-size: 11.63px;	
    font-weight: 400;
	line-height: 2em;
}

.footer__resource {
	display: flex;
	padding-top: 6px;
}

.footer__epic {
	display: flex;
	padding-top: 6px;
}
.footer__resource--links,
.footer__epic--links{
	padding: 0 24px 8px 0;
}
.footer__resource--links >li,
.footer__epic--links >li{
	line-height: 2em;
}

.footer__resource--links>li>a {
	color: var(--font-color-active);
	text-decoration: none;
}

.footer__nav {
	display: flex;
	justify-content: space-between;
	padding: 16px 0 0 0;
}

.footer__nav--links {
	display: flex;
}

.footer__nav--links>li{
	padding: 0 16px 0 0;
	font-size: 12px;
	align-self: flex-end;
}
.footer__nav--links>li>a {
	color: var(--font-color-active);
	text-decoration: none;
}

.footer__epic--links>li>a {
	color: var(--font-color-active);
	text-decoration: none;
}

.footer__nav--links>li>a:hover {
	color: var(--theme-color);
	transition: 0.3s;
}

.footer__epic--links>li>a:hover {
	color: var(--theme-color);
	transition: 0.3s;
}

.footer__resource--links>li>a:hover {
	color: var(--theme-color);
	transition: 0.3s;	
}
.footer__icons{
	padding-top: 16px;
	display: flex;
	justify-content: space-between;	
}
.footer__icon--top{
	padding-right: 16px;
}
.footer__icon--social >.footer--icon{
	padding-right: 8px;
}
.footer__icon--top >.footer--icon{
	width: 33.6px;
	height: 33.6px;
}
.footer--icon {
	fill: var(--icons-color);
	width: 28px;
	height: 31px;
	
}

.footer--icon:hover {
	fill: var(--theme-color);
	transition: 0.3s;
}
.footer__hr{
	padding-top: 16px;
}
.footer__hr> hr{
	border: 1px solid #5151514c;
}

.footer__nav--icon {
	fill: var(--icons-color);
	padding-right: 6px;	
}

.footer__nav--icon:hover {
	fill: var(--button-color);
	transition: 0.3s;
}