html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
  --theme-color: #007aff;
  --background-color: #121212;
  --main-color: #2a2a2a;
  --button-color: #ffffff;
  --icons-color: #cccccc;
  --font-color-active: #e7e7e7;
  --font-color-disable: #cccccc;
}

body {
  background-color: var(--background-color);
  main {
    background-color: var(--background-color);
    color: var(--font-color-active);
    .hero__container {
      margin: 3.125rem 0;
      display: flex;
      justify-content: center;
      &__ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        @media (max-width: 786px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          row-gap: 2rem;          
        }
        @media (max-width: 480px) {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
        }
        li {
          padding: 0 1rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          flex: 1;
          overflow: hidden;
        }
        &__li {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          &__header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 0.625rem;
            @media (max-width: 786px) {
              flex-direction: column; 
              align-items: center ;                      
            }
            @media (max-width: 480px) {
              flex-direction: column; 
              align-items: center ;   
            }
            h2 {
              width: auto;
              font-size: 1.57rem;
              line-height: 1.5625rem;
              letter-spacing: -0.0125rem;
              padding-right: 1rem;
              @media (max-width: 786px) {
                text-align: center;
                padding-right: 0;    
                padding-bottom: 1rem;                 
              }
              @media (max-width: 480px) {
                text-align: center;
                padding-right: 0;    
                padding-bottom: 1rem;   
              }
            }
            a {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              border: 0.0625rem solid white;
              border-radius: 0.25rem;
              background-color: transparent;
              color: white;
              text-align: center;
              font-size: 0.65rem;
              line-height: 0.9375rem;
              letter-spacing: 0.0625rem;
              font-weight: 500;
              padding-right: 1.25rem;
              padding-left: 1.25rem;
              height: 2.125rem;
              width: auto;
              &:hover {
                background-color: var(--main-color);
                transition: 0.3s;
              }
            }
          }
          &:nth-child(1),
          &:nth-child(2) {
            border-right: 0.0625rem solid rgba(255, 255, 255, 0.1);
            @media (max-width: 786px) {
              border-right: 0; 
              border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);                
            }
            @media (max-width: 480px) {
              border-right: 0;  
              border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1); 
            }
          }
          ul {
            li {
              display: flex;
              flex-direction: column;
              flex: 1;
              overflow: revert;                          
              .card__list {
                display: flex;
                gap: 1rem;
                padding: 0.7rem 0.7rem 0.7rem 1.5rem;                
                &:hover {
                  background-color: var(--main-color);
                  border-radius: 1.5rem;
                  transition: 60ms;
                  opacity: 1;
                  .card__list__button__container {
                    opacity: 1;
                  }
                }
                &__img {
                  display: flex;
                  justify-content: flex-end;
                  width: 4.3rem;
                  height: 5.7em;
                  overflow: hidden;
                  border-radius: 0.25rem;
                  opacity: 1;
                  min-width: fit-content;
                  img {
                    width: 100%;
                  }
                }
                &__button__container {
                  position: absolute;
                  display: flex;
                  padding-top: 0.5rem;
                  padding-right: 0.2rem;
                  opacity: 0;
                  button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: rgb(245, 245, 245);
                    width: 1.25rem;
                    height: 1.25rem;
                    font-size: 1.25rem;
                    background-color: var(--background-color);
                    border: 0.15rem solid white;
                    border-radius: 100%;
                    overflow: hidden;
                    padding: 0.1rem;
                    padding-top: 0.2rem;
                  }
                }
                &__description {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  opacity: 1;
                  @media (max-width: 786px) {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;               
                  }
                  @media (max-width: 480px) {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                  }
                  &--title,
                  &--avaible {
                    font-size: inherit;
                  }
                  &--price {
                    display: flex;
                    align-items: center;
                    font-size: 0.86rem;
                    p{
                      display: flex;
                    @media (max-width: 786px) {
                      flex-direction: column;                      
                             
                    }
                    @media (max-width: 480px) {
                      flex-direction: column;
                      
                    }     
                  }               
                   
                    .percentage {
                      color: var(--font-color-active);
                      width: fit-content;
                      font-size: 0.65rem;
                      line-height: 0.9375rem;
                      letter-spacing: 0.0625rem;
                      font-weight: 600;
                      padding: 0.3rem 0.6rem;
                      margin-right: 1rem;
                      border-radius: 0.25rem;
                      background-color: #007aff;
                      
                    }
                    .first_price {                   
                      text-decoration: line-through;
                      margin-right: 0.7rem;
                      color: rgb(204, 204, 204, 0.4);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    color: var(--icons-color);
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25rem 4.5rem 2.5rem;
    p {
      color: #656565;
      margin: 0 0 0.25rem;
      font-weight: 700;
      padding: 1.2875rem 0 0;
    }
    .footer {
      &__icons {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        &--social {
          &--icon {
            padding-right: 0.5rem;
            fill: var(--icons-color);
            width: 1.75rem;
            height: 2rem;
            &:hover {
              fill: var(--theme-color);
              transition: 0.3s;
            }
          }
        }
        &--top {
          padding-right: 1rem;
          &--icon {
            fill: var(--icons-color);
            width: 1.75rem;
            height: 2rem;
            width: 2.1rem;
            height: 2.1rem;
            &:hover {
              fill: var(--theme-color);
              transition: 0.3s;
            }
          }
        }
      }
      &__hr {
        padding-top: 0.5rem;
        hr {
          border: 0.0625rem solid #5151514c;
        }
      }
      &__resource {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        margin: 0;
        p {
          padding-top: 1.25rem;
        }
        @media (max-width: 786px) {
          grid-template-columns: auto auto;
          grid-template-rows: auto;
        }
        @media (max-width: 480px) {
          grid-template-columns: auto;
          grid-template-rows: auto;
        }
        &--links {
          padding: 0 1.5rem 0.5rem 0;
          li {
            line-height: 1.5rem;
            a {
              color: var(--font-color-active);
              text-decoration: none;
              &:hover {
                color: var(--theme-color);
                transition: 0.3s;
              }
            }
          }
        }
      }
      &__epic {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        padding-top: 0.375rem;
        margin: 0;
        @media (max-width: 480px) {
          grid-template-columns: auto;
          grid-template-rows: auto;
        }
        &--links {
          padding: 0 2.5rem 0.5rem 0;
          li {
            line-height: 1.5rem;
            a {
              color: var(--font-color-active);
              text-decoration: none;
              &:hover {
                color: var(--theme-color);
                transition: 0.3s;
              }
            }
          }
        }
      }
      &__copyright {
        display: flex;
        justify-content: start;
        margin: 0;
        padding: 1rem 0;
        .copyright {
          color: var(--font-color-disable);
          width: 106ch;
          text-align: left;
          padding: 0.375rem 0 0;
          font-size: 0.71rem;
          font-weight: 400;
          line-height: 1.4rem;
        }
      }
      &__nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem 0 0 0;
        @media (max-width: 786px) {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto;
          row-gap: 2rem;
        }
        &--links {
          display: grid;
          grid-template-columns: auto auto auto auto;
          justify-content: start;
          @media (max-width: 786px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            row-gap: 1rem;
          }
          @media (max-width: 480px) {
            grid-template-columns: auto;
            grid-template-rows: auto;
            row-gap: 1rem;
          }
          li {
            padding: 0 1rem 0 0;
            font-size: 0.75rem;
            align-self: flex-end;
            a {
              color: var(--font-color-active);
              text-decoration: none;
              &:hover {
                color: var(--theme-color);
                transition: 0.3s;
              }
            }
          }
        }
        &--icons {
          display: flex;
          gap: 1rem;
          &--icon {
            fill: var(--icons-color);
            &:hover {
              fill: var(--button-color);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
