html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*INIZIATE DA QUI!*/

:root{
	font-family: 'Inter', sans-serif;  /* footer e nav font-family: OpenSans,sans-serif,arial; */
	font-size: 14px;
	line-height: 20px;
    letter-spacing: 0.2px;
	--theme-color: #007aff;
	--background-color: #121212;
	--main-color: #2a2a2a;
	--button-color: #ffffff;
	--icons-color:#cccccc;
	--font-color-active: #f5f5f5;
	--font-color-disable: #cccccc;
	background-color: var(--background-color);
}

/* Sezione carosello */



#main_carousel_section {
	margin-bottom: 50px;
	background-color: var(--background-color);
}

.main_carousel_div {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	display: flex;
	margin: auto;

}

.main_carousel_game {
	background-image: url('resources/dead-space-banner.jpg');
	background-image: center;
	background-size: 1600px;
	width: 80%;
	height: 700px;
	background-color: #cccccc;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	
}

.main_carousel_game_div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 40%;
	height: 60%;
	position: absolute;
	bottom: 0;
	left: 50px;
}

.main_carousel_game_logo {
	position: relative;
}

.main_carousel_game_description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	position: absolute;
}

.main_carousel_game_description_div {
	width: 100%;
	height: 60%;
	position: absolute;
	top: 30%;
}

.main_carousel_game_description > span {
	color: var(--font-color-active);
	display: block;
	font-size: 1rem;
	margin-bottom: 15px;
	font-weight: 400;
	font-family: inherit;
}

.main_carousel_game_description > span:nth-child(2) {
	font-size: 1.5rem;
}

.main_carousel_game_description_buy {
	position: relative;
	height: 50%;
	color: var(--font-color-active);
	font-size: 1rem;
}

.main_carousel_game_description_buy > span {
	position: absolute;
	bottom: 60px;
}

.main_carousel_big_buttons {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
}

.main_carousel_buy_button {
    width: 150px;
	height: 50px;
	background-color: var(--font-color-active);
	border-radius: 5px;
	border-color: var(--font-color-active);
	border-style: solid;
	cursor: pointer;
	font-family: inherit;
	margin-right: 10px;
}

.main_carousel_wish_button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8rem;
	width: 150px;
	height: 50px;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	color: var(--font-color-active);
	font-family: inherit;
	position: relative;
}

.main_carousel_wish_button:hover {
	background-color: rgba(255, 255, 255, 0.244);
}

.main_carousel_game_list {
	margin-left: 20px;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.main_carousel_game_list > a {
	text-decoration: none;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	background-color: #12121200;
}

.main_carousel_game_list a div > img {
	width: 65px;
	border-radius: 8px;
	margin-right: 10px;
	margin-left: 0px;
}

.main_carousel_game_list > a:hover {
	background-color: rgba(255, 255, 255, 0.123);
	transition: 0.3s;
}

.main_carousel_game_list a > div {
	color: var(--font-color-active);
	line-height: 1.4;
	font-size: 1.2rem;
	width: 90%;
	margin-left: 5%;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.main_carousel_list_description  {
     width: 90%;
}

/* Sezione esplora */

#main_explore_section {
	margin-bottom: 50px;
	background-color: var(--background-color);
}

.main_explore_div {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}

.main_explore_div_img {
	background-color: white;
	border-radius: 22px;
	width: 63%;
	cursor: pointer;
}

.main_explore_div_img > img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.main_explore_div_img:hover img {
	opacity: 0.9;
    transition: 0.3s;
}

.main_explore_description {
	width: 37%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 70px;
}

.main_explore_description_text {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main_explore_description_text > span:first-child {
	color: var(--font-color-active);
	font-size: 1.8rem;
}

.main_explore_description_text > span:nth-child(2) {
	font-size: 1.1rem;
    color: rgba(245, 245, 245, 0.6);
}

.main_explore_description_button {
    margin-top: 60px;
}

.main_explore_description_button > button {
    width: 150px;
	height: 50px;
	background-color: var(--font-color-active);
	border-radius: 5px;
	border-color: var(--font-color-active);
	border-style: solid;
	cursor: pointer;
	font-family: inherit;
}





