html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*INIZIATE DA QUI!*/

:root {
	font-family: 'Inter', sans-serif;
	/* footer e nav font-family: OpenSans,sans-serif,arial; */
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.0125rem;
	--theme-color: #007aff;
	--background-color: #121212;
	--main-color: #2a2a2a;
	--button-color: #ffffff;
	--icons-color: #cccccc;
	--font-color-active: #e7e7e7;
	--font-color-disable: #cccccc;
}

.nav1{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'OpenSans', sans-serif,arial;
	font-weight: 100;
	background-color: #2A2A2A;
	color: #e7e7e7;
	height: 4.9em;
	width: 100%;
	font-size: .75em;
}

.nav__dx{
	width:25%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: var(--icons-color);
	gap: 20px;
}
.nav__sx{
	width: 35%;
	display: flex;
	align-items: center;
	justify-content:left;
	gap: 0.4rem;
	height: 100%;
}
.nav__sx__logo{
	padding: 6px;
}
.nav__sx__link{
    display: flex;
    justify-items: stretch;   
	flex-direction: column; 
	height: 100%;
} 



.nav__link {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
	transition: text-decoration 500ms;
	color: var(--font-color-disable);
	padding: 0 1rem;
}

.nav__sx__barra{
	height: 5px;
	background-color: transparent;
	transform:translateY(+5px);
}

.nav__link:hover{
	color: var(--font-color-active);
}

.nav__sx__link:hover .nav__sx__barra{
	transform:translateY(0px);
	transition: 100ms;
	background-color: var(--theme-color);
}



.ottineni{
	display: flex;
	align-items: center;
	background-color: var(--theme-color);
	height: 100%;
	color: var(--button-color);
	text-decoration: none;
	padding: 1.4rem;
	font-size: 10px;
	
}

.ottineni:hover{
	background-color:#268fff;
	text-decoration: none;
}

.nav__mondo{
	display: flex;
	margin-top: 8%;
	position: relative;
    cursor: pointer;
	height: 4.9em;
	width: auto;
}

.nav__list{
    display: none;
    cursor: pointer;
    position:absolute;
    list-style-type: none;
    text-align: center;
	background: var(--main-color);
	margin: 0;
    top: 30px;
    right: 42px;
	z-index: 3;
}

.nav__mondo:hover .nav__list{
    display: block;
	text-decoration: none;
	width: 100%;
    height: 100%;
	background: var(--main-color);
}

.nav__interno{
	display: flex;
	text-align: center;
	justify-content: center;
    width: 20ch;
    height: 6ch;
	text-decoration: none;
	color: var(--icons-color);
	background: var(--main-color);
	font-size: 10px;
}

.nav__interno:hover{
	display: block;
	text-decoration: none;
	color: var(--button-color);
}

.nav__user__container{
	position: relative;
    cursor: pointer;
}

.nav__user{
	display: flex;
	align-items: center;
    cursor: pointer;
	justify-content: center;
	margin-bottom: 8px;
	
}

.nav__user__list{
    display: none;
    cursor: pointer;
    position:absolute;
    list-style-type: none;
    text-align: center;
	background: var(--main-color);
	margin-top: 15px;
    top: 30px;
    left: 8px;
	z-index: 3;
    width: 25%;
}

.nav__user__container:hover .nav__user__list{
	display: block;
    cursor: pointer;
	width: 100%;
    height: 100%;
	background: var(--main-color);
}


.nav2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'OpenSans', sans-serif,arial;
	font-size: 14px;
	background-color: var(--background-color);
	color: #e7e7e7;
	top: 0px;
	width: 100%;	
	position: sticky;
	z-index: 2;
    height: 5rem;   
	font-weight: bold;
    padding-top: 1px;
}

.nav2__container{
    width: 100%;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav__tendina__tab{
	display: none;
}

.nav__ricerca__sinistra{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
}

.nav__serch{
	display: flex;
	background-color: #2A2A2A;
	border-radius: 20px;
	align-items: center;
	justify-content: space-around;
	margin-right: 1rem;

}

.nav__ric {
	background-color: transparent;
	height: 40px;
	border-style: none;
	color: #ffffff;
}

.nav_ric:focus {
	outline: none;
	}

.nav__lente{
	width:10.8px;
	height:10.8px;
	margin: 0px 10px;
}

.nav__ricerca__interna{
	display: flex;
	justify-content: space-around;
	width: 50%;

}

.nav__link__2{
	margin-left: 40px;
	text-decoration: none;
	color: var(--font-color-disable);
}

.nav__link__2:hover{
	color: var(--button-color) ;
}

.main__gratis{
	background-color: rgba(255, 255, 255, 0.1) ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 300px;
    padding: 2rem;
    gap: 1rem;
}

.main__gratis__intestazione{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main__icon__gratis__pack{
	display: flex;
	align-items: center;
	width: 30%;
}

.main__gratis__intestazione > div{
    display: flex;
}

.main__gratis__visualizza{
	background-color: rgba(255, 255, 255, 0.1) ;
	color: var(--font-color-active);
	font-weight: bold;
	border: 0.5px solid var(--font-color-active);
	border-radius: 5px;
	text-decoration: none;
	font-size: 12px;
    padding: 1rem 2rem;
    
}

.main__giochi__gratis{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
column-gap: 5%;
}

.main__gratis__testo{
	color: var(--button-color);
	padding-left: 1rem;
}

.main__gratis__card{
    width: 100%;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.main__ora__gratis{
	display: flex;
	background-color: var(--theme-color);
	justify-content: center;
	position: relative;
	bottom: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main__in__arrivo {
	display: flex;
	background-color: var(--background-color);
	justify-content: center;
	position: relative;
	bottom: 15px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main__gratis__txt{
	font-weight: bold;
	color: var(--font-color-active);
	cursor: pointer;
}

.main__gratis__disp{
	color: var(--font-color-disable);
	font-weight: bold;
	padding: 1rem 0 ;
}

@media (max-width: 768px){
	.main__giochi__gratis{
		display: flex;
		width: 100%;
		flex-direction: column;
		column-gap: 2px;
		}

	.main__gratis__card{
		height: 60%;
	}
	/*.nav1{
		
	}*/
		
}


@media (max-width: 1023px){

	/*.nav__tendina__tab{
		display: block;
	}
	.nav__ricerca__interna{
		display: flex;
		margin-top: 10%;
		position: relative;
		cursor: pointer;
		height: 4.9em;
		width: auto;
	}*/
}
