html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*INIZIATE DA QUI!*/

:root {
  font-family: "Inter", sans-serif;
  /* footer e nav font-family: OpenSans,sans-serif,arial; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  --theme-color: #007aff;
  --background-color: #121212;
  --main-color: #2a2a2a;
  --button-color: #ffffff;
  --icons-color: #cccccc;
  --font-color-active: #e7e7e7;
  --font-color-disable: #cccccc;
  background-color: var(--background-color);
}

/* Sezione carosello */

#main_carousel_section {
  margin-bottom: 50px;
  background-color: var(--background-color);
}

.main_carousel_div {
  width: 75%;
  background-color: var(--background-color);
  display: flex;
  padding: 20px;
  margin: auto;
}

.main_carousel_game {
  background-image: url("resources/dead-space-banner.jpg");
  background-size: 1300px;
  width: 80%;
  height: 700px;
  background-color: #cccccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.main_carousel_game_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 30%;
  height: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.main_carousel_game_logo {
  position: relative;
  top: 20px;
  left: 10px;
}

.main_carousel_game_description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
}

.main_carousel_game_description > span {
  color: var(--font-color-active);
  display: block;
  font-size: 1rem;
  margin: 15px;
  font-weight: 400;
  font-family: inherit;
}

.main_carousel_game_description > span:nth-child(2) {
  font-size: 1.5rem;
}

.main_carousel_big_buttons {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
}

.main_carousel_buy_button {
  width: 150px;
  height: 50px;
  background-color: var(--font-color-active);
  border-radius: 5px;
  border-color: var(--font-color-active);
  border-style: solid;
  cursor: pointer;
  font-family: inherit;
}

.main_carousel_wish_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  color: var(--font-color-active);
  font-family: inherit;
  position: relative;
}

.main_carousel_wish_button:hover {
  background-color: rgba(255, 255, 255, 0.244);
}

.main_carousel_game_list {
  margin-left: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main_carousel_game_list > a {
  text-decoration: none;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #12121200;
}

.main_carousel_game_list a div > img {
  width: 65px;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 0px;
}

.main_carousel_game_list > a:hover {
  background-color: rgba(255, 255, 255, 0.123);
  transition: 0.3s;
}

.main_carousel_game_list a > div {
  color: var(--font-color-active);
  line-height: 1.4;
  font-size: 1.2rem;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.main_carousel_list_description {
  width: 90%;
}

/* Sezione esplora */

#main_explore_section {
  margin-bottom: 50px;
  background-color: var(--background-color);
}

.main_explore_div {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
}

.main_explore_div_img {
  background-color: white;
  border-radius: 22px;
  width: 63%;
  cursor: pointer;
}

.main_explore_div_img > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.main_explore_div_img:hover img {
  opacity: 0.9;
  transition: 0.3s;
}

.main_explore_description {
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.main_explore_description_text {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_explore_description_text > span:first-child {
  color: var(--font-color-active);
  font-size: 1.8rem;
}

.main_explore_description_text > span:nth-child(2) {
  font-size: 1.1rem;
  color: rgba(245, 245, 245, 0.6);
}

.main_explore_description_button {
  margin-top: 60px;
}

.main_explore_description_button > button {
  width: 150px;
  height: 50px;
  background-color: var(--font-color-active);
  border-radius: 5px;
  border-color: var(--font-color-active);
  border-style: solid;
  cursor: pointer;
  font-family: inherit;
}

/*inizio Christian*/

.main__container__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main__container__cards--top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* barra giochi in offerta */

.main__container__cards__top--bar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* primo contenitore di cards piccole */
.main__container__cards__top--content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  gap: 1rem;
  justify-items: center;
}
.main__container__cards__top__bar--left,
.main__container__cards__top__bar--right {
  width: auto;
  height: 30px;
  color: var(--font-color-active);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main__container__cards__top__bar__left--arrow {
  width: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.font__title--bar {
  font-size: 1.125rem;
}
.main__container__cards__top__bar__left--arrow > img {
  width: 8px;
  height: 8px;
}

.main__container__cards__top__bar--arrow-left,
.main__container__cards__top__bar--arrow-right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  opacity: 0.5;
}
.main__container__cards__top__bar--right img {
  width: 12px;
  height: 12px;
}
.main__container__card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main__container__card--overlay:hover {
  opacity: 0.1;
}

.main__container__card--overlay {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.main__container__card--add-game {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;

  display: none;
  border: 2px solid var(--button-color);
  border-radius: 50%;
  background-color: var(--background-color);
}

.main__container__card--add-game span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
}
.main__container__card--add-game span button {
  font-size: 1.3rem;
  border: none;
  background-color: inherit;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  cursor: grab;
}
.main__container__card :hover .main__container__card--add-game {
  display: block;
  transition: 0.5s;
}

.main__container__card--img {
  position: relative;
}

.main__container__card--img > img {
  width: 100%;
  height: 100%;
}
.main__card--title p {
  font-size: 8px;

  color: #f5f5f599;
}

.main__card__container--price,
.main__card__game--title {
  width: 100%;
  color: var(--font-color-active);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.main__container__card__price--percentage {
  background-color: #007aff;
  padding: 5px;
  border-radius: 4px;
  font-size: 9px;
}
.main___container__card__price--oldoffers span {
  text-decoration: line-through;
  color: #f5f5f599;
}
/* secondo contenitore cards grandi */

.main__container__cards--bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}
.main__container__card--img-big {
  border-radius: 16px;
}

.main__card__game--title-big {
  font-size: 18px;
  color: #f5f5f5;
}
.main__card__container--description {
  color: #f5f5f599;
  font-size: 16px;
}
.main___container__card__price--newoffers-big {
  font-size: 22px;
}
/* fine card christian */

/* Footer style */
footer {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--icons-color);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 20px 72px 40px;
}

footer > p {
  color: #656565;
  margin: 0 0 4px;
  font-weight: 700;
  padding: 20.6px 0 0;
}
.footer__copyright {
  margin: 0;
  padding: 16px 0;
}
.copyright {
  width: 105ch;
  text-align: left;
  padding: 6px 0 0;
  font-size: 11.63px;
  font-weight: 400;
  line-height: 2em;
}

.footer__resource {
  display: flex;
  padding-top: 6px;
}

.footer__epic {
  display: flex;
  padding-top: 6px;
}
.footer__resource--links,
.footer__epic--links {
  padding: 0 24px 8px 0;
}
.footer__resource--links > li,
.footer__epic--links > li {
  line-height: 2em;
}

.footer__resource--links > li > a {
  color: var(--font-color-active);
  text-decoration: none;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0 0;
}

.footer__nav--links {
  display: flex;
}

.footer__nav--links > li {
  padding: 0 16px 0 0;
  font-size: 12px;
  align-self: flex-end;
}
.footer__nav--links > li > a {
  color: var(--font-color-active);
  text-decoration: none;
}

.footer__epic--links > li > a {
  color: var(--font-color-active);
  text-decoration: none;
}

.footer__nav--links > li > a:hover {
  color: var(--theme-color);
  transition: 0.3s;
}

.footer__epic--links > li > a:hover {
  color: var(--theme-color);
  transition: 0.3s;
}

.footer__resource--links > li > a:hover {
  color: var(--theme-color);
  transition: 0.3s;
}
.footer__icons {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.footer__icon--top {
  padding-right: 16px;
}
.footer__icon--social > .footer--icon {
  padding-right: 8px;
}
.footer__icon--top > .footer--icon {
  width: 33.6px;
  height: 33.6px;
}
.footer--icon {
  fill: var(--icons-color);
  width: 28px;
  height: 31px;
}

.footer--icon:hover {
  fill: var(--theme-color);
  transition: 0.3s;
}
.footer__hr {
  padding-top: 16px;
}
.footer__hr > hr {
  border: 1px solid #5151514c;
}

.footer__nav--icon {
  fill: var(--icons-color);
  padding-right: 6px;
}

.footer__nav--icon:hover {
  fill: var(--button-color);
  transition: 0.3s;
}
