main {
    display: flex;
    flex-direction: column;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#main__carousel_section {
    margin-top: 8rem;
	margin-bottom: 50px;
	background-color: var(--background-color);
}

.main__carousel_div {
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	display: flex;
	min-height: max-content;
	position: relative;
}

.main__carousel_div > img {
	height: 100%;
	width: 80%;
	position: relative;
	cursor: pointer;
	border-radius: 20px;
	min-height: 320px;
}

.main__carousel_game_div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 40%;
	left: 5%;
	bottom: 5%;
	position: absolute;
}

.main__carousel_game_logo {
	height: 40%;
}

.main__carousel_game_logo > img{
	width: 240px;
}

.main__carousel_game_description {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 2rem;
	width: 80%;
	height: 60%;
}

.main__carousel_game_description > span {
	color: var(--font-color-active);
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;
}

.main__carousel_game_description > span:nth-child(2) {
	font-size: 1.5rem;
}

.main__carousel_buy_options {
	height: 50%;
}

.main__carousel_buy_options > span {
	color: var(--font-color-active);
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;
}

.main__carousel_game_description_buy {
	position: relative;
	height: 50%;
	color: var(--font-color-active);
	font-size: 1rem;
}

.main__carousel_big_buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}

.btn {
	background-color: white;
	padding: 1.5rem;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
	font-family: inherit;
}

.main__carousel_buy_button {
	background-color: white;
	min-width: 150px;
}

.main__carousel_wish_button {
	display: flex;
	align-items: center;
	background-color: transparent;
	color: var(--font-color-active);
	gap: 1rem;
	min-width: 180px;
}

.main__carousel_wish_button:hover {
	background-color: rgba(255, 255, 255, 0.244);
	transition: 0.3s;
}

.main__carousel_game_list {
	margin-left: 1.2rem;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.main__carousel_game_list > a {
	text-decoration: none;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	background-color: #12121200;
}

.main__carousel_game_list a div > img {
	width: 30%;
	min-width: 30px;
	border-radius: 8px;
	margin-right: 0.8rem;
	margin-left: 1rem;
}

.main__carousel_game_list > a:hover {
	background-color: rgba(255, 255, 255, 0.123);
	transition: 0.3s;
}

.main__carousel_game_list a > div {
	color: var(--font-color-active);
	font-size: 1rem;
	line-height: 1.3;
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main__carousel_list_description  {
     width: 90%;
}

 @media (max-width:1500px) {
	.main__carousel_buy_button {
	font-size: 0.8rem;
}
	.main__carousel_wish_button {
		font-size: 0.8rem;
	}

	.main__carousel_game_logo > img {
		width: 200px;
	}
	.main__carousel_game_list a > div {
	font-size: 0.8rem;
}
} 

@media (max-width: 1200px) {
	.main__carousel_game_description > span {
	font-size: 0.8rem;
	}
	
	.main__carousel_game_description > span:nth-child(2) {
		font-size: 1rem;
	}
	.main__carousel_game_logo > img {
		width: 150px;
	}
	.main__carousel_game_list a > div {
	font-size: 0.7rem;
	}
}

@media (max-width: 768px) {
	.main__carousel_game_div {
		display: none;
	}
	.main__carousel_div > img {
		display: none;
	}
	.main__carousel_game_list {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: initial;
		margin: initial;
		flex-direction: row;
		gap: 1rem;
		overflow: auto;
	}
	.main__carousel_game_list a > div {
		height: 700px;
		width: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.main__carousel_game_list a div > img {
		border-radius: 20px;
		width: 100%;
		height: 90%;
	}
    .main__carousel_game_list a div>img:hover {
		opacity: 0.5;
		transition: 0.3s;
	}
    .main__carousel_list_description{
		width: 100%;
	}
    .main__carousel_list_description > span {
		text-align: center;
		display: block;
		width: 100%;
		font-size: 1.3rem;
		font-family: inherit;
	}
	.main__carousel_game_list > a:hover {
        background-color: var(--background-color);
	}
}
   
/* Sezione esplora */

#main__explore_section {
	margin-bottom: 50px;
	background-color: var(--background-color);
}

.main__explore_div {
	display: grid;
	grid-template-columns: 60% 40%;
	width: 100%;
}

.main__explore_div_img {
	background-color: white;
	border-radius: 22px;
	width: 100%;
	cursor: pointer;
}

.main__explore_div_img > img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.main__explore_div_img:hover img {
	opacity: 0.9;
    transition: 0.3s;
}

.main__explore_description {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4rem;
	gap: 3rem;
}

.main__explore_description_text {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__explore_description_text > span:first-child {
	color: var(--font-color-active);
	font-size: 1.8rem;
}

.main__explore_description_text > span:nth-child(2) {
	font-size: 1.1rem;
    color: rgba(245, 245, 245, 0.6);
}
 @media (max-width:1100px) {
    .main__explore_div {
	grid-template-columns: 1fr;
	}
	.main__explore_description{
		margin: 0;
	}

 }